 @model IEnumerable<Gym_Management_System_MVC.Models.Equipment>
<div id="Inventory" class="section container Inventory">
    <div class="text mb-5">
        <button type="button"
                id="form-add-equipment"
                class="btn btn-primary">
            Add Equipment
        </button>
    </div>
    <div class="Inventoryform">
        <form class="row g-3" action="@Url.Action("Create", "Equipment")" method="post">
            <div id="close-form-Inventory">
                <button type="button"
                        id="btn-close-Inventory"
                        class="btn-close"
                        aria-label="Close"></button>
            </div>
            <div class="col-md-6">
                <label for="Equipment-name" class="form-label">Equipment Name</label>
                <input type="text" class="form-control"  name="Name" id="Equipment-name" />
            </div>
            <div class="col-md-6">
                <label for="LastMaintanceDate" class="form-label">LastMaintanceDate</label>
                <input type="date"
                       class="form-control"
                       id="LastMaintanceDate"
                       name="LastMaintenanceDate"/>
            </div>
            <div class="col-md-6">
                <label for="Status" class="form-label">Status</label>
                <input type="text" class="form-control" name="Status" id="Status" />
            </div>
            <div class="col-md-6">
                <label for="PruchaseDate" class="form-label">PruchaseDate</label>
                <input type="date" class="form-control" name="PurchaseDate" id="PruchaseDate" />
            </div>
            <div class="col-12 buttons">
                <button type="submit"
                        id="add-Equipment"
                        class="btn btn-primary">
                    Add Equipment
                </button>
                <button type="button" id="cancel" class="btn btn-primary">
                    cancel
                </button>
            </div>
        </form>
    </div>
    <div class="equuipment-table ">
        <div class="controls">
            <h6>Show Entities:</h6>
            <select class="rowsSelect" onchange="filterRows(event)">
                <option value="all">all</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="text" class="searchInput" onkeyup="searchTable(event)" placeholder="Search...">
        </div>


        <table class="dataTable">
            <thead>
                <tr>
                    <th>Equipment Name</th>
                    <th>Total no</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipment in Model)
                {
                    <tr>
                        <td>@equipment.Name</td>
                        <td>1</td>
                        <td>@equipment.Status</td>
                        <td>
                            <button type="button" class="btn Editequipment btn-primary" data-bs-toggle="modal" data-bs-target="#Editequipment" data-bs-whatever="mdo">
                                Edit
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="Editequipment" tabindex="-1" aria-labelledby="EditMemper" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Equipment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newadmin-name" class="col-form-label">Equipment Name</label>
                        <input type="text" class="form-control" id="EditEquipment-name" name="EditEquipment-name">
                    </div>
                    <div class="mb-3">
                        <label for="newadmin-phone" class="col-form-label">Total no</label>
                        <input type="text" class="form-control" id="EditEquipment-Totalno" name="EditEquipment-Totalno">
                    </div>
                    <div class="mb-3">
                        <label for="newadmin-email" class="col-form-label"> Status</label>
                        <input type="text" class="form-control" id="EditEquipment-Status" name="EditEquipment-Status">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-new-admin" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>