<div id="Inventory" class="section container Inventory">
    <div class="text mb-5">
        <button type="button"
                id="form-add-equipment"
                class="btn btn-primary">
            Add Equipment
        </button>
    </div>
    <div class="Inventoryform">
        <form class="row g-3">
            <div id="close-form-Inventory">
                <button type="button"
                        id="btn-close-Inventory"
                        class="btn-close"
                        aria-label="Close"></button>
            </div>
            <div class="col-md-6">
                <label for="Equipment-name" class="form-label">Equipment Name</label>
                <input type="text" class="form-control" id="Equipment-name" />
            </div>
            <div class="col-md-6">
                <label for="LastMaintanceDate" class="form-label">LastMaintanceDate</label>
                <input type="date"
                       class="form-control"
                       id="LastMaintanceDate" />
            </div>
            <div class="col-md-6">
                <label for="Status" class="form-label">Status</label>
                <input type="text" class="form-control" id="Status" />
            </div>
            <div class="col-md-6">
                <label for="PruchaseDate" class="form-label">PruchaseDate</label>
                <input type="date" class="form-control" id="PruchaseDate" />
            </div>
            <div class="col-12 buttons">
                <button type="submit"
                        id="add-Equipment"
                        class="btn btn-primary">
                    Add Equipment
                </button>
                <button type="button" id="cancel" class="btn btn-primary">
                    cancel
                </button>
            </div>
        </form>
    </div>
    <div class="equuipment-table mt-3">
        <div class="controls">
            <h6>Show Entities:</h6>
            <select class="rowsSelect" onchange="filterRows(event)">
                <option value="all">all</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="text" class="searchInput" onkeyup="searchTable(event)" placeholder="Search...">
        </div>

        <table class="dataTable">
            <thead>
                <tr>
                    <th>Equipment Name</th>
                    <th>Total no</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Treadmill</td>
                    <td>1</td>
                    <td>Acitve</td>
                    <td><div class="Edity-puttom"><a href="">Edit</a></div></td>
                </tr>

                <tr>
                    <td>10 Dumbell</td>
                    <td>3</td>
                    <td>Active</td>
                    <td><div class="Edity-puttom"><a href="">Edit</a></div></td>
                </tr>
                <tr>
                    <td>15 Dumbell</td>
                    <td>6</td>
                    <td>Inactive</td>
                    <td><div class="Edity-puttom"><a href="">Edit</a></div></td>
                </tr>
                <tr>
                    <td>20 Dumbell</td>
                    <td>12</td>
                    <td>Active</td>
                    <td><div class="Edity-puttom"><a href="">Edit</a></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
