<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STAMINA FITNESS</title>
    <link rel="icon" type="image/png" href="./images/Main Logo.png" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css"
          rel="stylesheet" />
</head>
<body>
  
        

                
              
                
                
                <div id="dashHome" class="section container dashHome active">
                    <div class="row">
                        <div class="col-12 col-lg-7 me-4">
                            <div class="hello">
                                <div class="text">
                                    <h6>Welcome Banner, <span>Martell</span></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua.
                                    </p>
                                </div>
                            </div>
                            <div class="statics mt-4">
                                <div class="row">
                                    <div class="col coaches">
                                        <h4>Coaches</h4>
                                        <h6><i class="fa-solid fa-circle me-2"></i>Hazem</h6>
                                        <h6><i class="fa-solid fa-circle me-2"></i>Hazem</h6>
                                        <h6><i class="fa-solid fa-circle me-2"></i>Hazem</h6>
                                    </div>
                                    <div id="sales" class="col sales pb-2">
                                        <h4>Sales</h4>
                                        <canvas id="salesChart"></canvas>
                                        <h5 class="percent">84%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="active-members">
                                <!--Table members-->
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 h-100">
                            <div id="calendar" class="calender">
                                <div id="monthYear"></div>
                                <div id="daysContainer">
                                    <div>Sun</div>
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                </div>
                            </div>
                            <div class="inventroy">
                                <h4>inventroy</h4>
                            </div>
                        </div>
                    </div>
                </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
