
    <!--login-->
    <div class="container">
        <div class="row">
            <div class="col login">
                <form  action="@Url.Action("Logining", "Home")" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="mail" id="email" aria-describedby="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="mb-3 form-check">
                        <div class="check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Remember me</label>

                        </div>
                        <a href="#">forget password?</a>
                    </div>
                    <button type="submit" id="sendData" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col logo">
               
                <img src="~/images/Main Logo.png" alt="main logo">
            </div>
        </div>
    </div>

  
