<div id="regeteration" class="section container regeteration">
    <div class="text">
        <h3>Become a Member!</h3>
        <h1>Register</h1>
    </div>
    <div class="regeterationform">
      
        <form>
            <div class="col-md-6">
                <label for="member-name" class="form-label">Name of Participant</label>
                <input type="text" class="form-control" id="member-name" />
            </div>
            <div class="col-md-6">
                <label for="email-address" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email-address" />
            </div>
            <div class="col-6">
                <label for="contact-no" class="form-label">Contact No.</label>
                <input type="text" class="form-control" id="contact-no" />
            </div>
            <div class="col-6">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address" />
            </div>
            <div class="col-12 buttons">
                <button type="submit" id="add-member" class="btn btn-primary">
                    Add Membership
                </button>
                <button type="button" id="cancel" class="btn btn-primary">
                    cancel
                </button>
            </div>

        </form>
    </div>
</div>